.card {
    border-color: rebeccapurple;
}
hr {
    color: rebeccapurple;
    height: auto;
}
.card-header {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}
.btn-rebeccapurple {
    background-color: rebeccapurple;
    color: white;
    border: none;
}

.btn-rebeccapurple:hover {
    background-color: darkslateblue;
}